@charset "utf-8";
@import "./less/lesshat.less";

@white: #ffffff;
@black: #000000;

@red: #900000;

::selection {
  background: @red;
  color: @white;
}

::-moz-selection {
  background: @red;
  color: @white;
}

::-webkit-selection {
  background: @red;
  color: @white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #5d5d5d;
  background-color: #f7f7f7;
}

body::-webkit-scrollbar {
  display: none;
}

.dn {
  display: none !important;
}

.cl {
  clear: left !important;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 15px;
}

* {
  box-sizing: border-box;
}

header,
footer,
nav,
section,
article {
  display: block;
}

section {
  width: 960px;
  margin: 0 auto;
}

/* Header section*/
header {
  position: fixed;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 12px #7e7e7e2e;
  background-color: #f7f7f7;
}

/* hero wrapper */

.hero-wrapper {
  display: flex;
}

/* Style the navbar */
nav {
  color: #dde1e4;
  font-size: 23px;
  font-family: "FuturaStdLightTrRegular";
}

/* Style the links inside the navbar */
nav a {
  margin: 0 10px 0 10px;
  font-size: 16px;
  color: @red;
  font-family: "FuturaStdBookTrRegular";
  line-height: 20px;
  padding: 20px 0;
}

/* On hover, change the background color of the links */
nav a:hover {
  color: #c98c94;
}

.languageBtn {
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  z-index: 100;
}

/* Style the logo */
.logo {
  width: 150px;
  height: 90px;
  background: url(../images/Sigla-noua.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Home background image section*/

.parallaxBox {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  height: 530px;
}

#home-bg-div {
  width: 98%;
  text-align: center;
}

#home-bg {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

/* Who we are section */

#whoweare-bg {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Competitions section */
#competitions-bg {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  height: 630px;
}

section:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.footerCenter {
  position: relative;
  width: 960px;
  height: 630px;
  background: url(../images/contact.jpg) no-repeat;
  margin: 0 auto;
  opacity: 0.89;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
  filter: alpha(opacity=89);
}

.center {
  position: relative;
  width: 960px;
  height: 20px;
  margin: 0 auto;
}

div .homeSlogan {
  width: 1000px;
  position: relative;
  clear: left;
  color: #8a8a8a;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 7px;
  background: url(../images/quotationl.png) no-repeat top left;
}

div .homeSlogan div {
  width: 1000px;
  position: relative;
  clear: left;
  color: #8a8a8a;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 7px;
  background: url(../images/quotationr.png) no-repeat bottom right;
}

.homeSlogan p {
  font-size: 21px;
  line-height: 30px;
  color: #8a8a8a;
  text-align: left;
  font-family: "FuturaStdLightTrRegular";
  margin-left: 65px;
}

.homeSlogan p span {
  font-family: "FuturaStdBookTrRegular";
}

footer .formBox {
  float: left;
  margin: 20px 0 0 25px;
}

.formBox label {
  float: left;
  clear: left;
  display: block;
  width: 215px;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 8px;
  font-family: "FuturaStdBookTrRegular";
}

.formBox .input {
  float: left;
  display: block;
  clear: left;
  width: 203px;
  padding: 7px 5px 7px 5px;
  background-color: #ffffff;
  border: 1px solid #fff;
  color: #5d5d5d;
  margin-bottom: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.formBox .textarea {
  float: left;
  clear: left;
  width: 440px;
  height: 138px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #fff;
  color: #5d5d5d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.formBox input.sendBtn {
  float: left;
  clear: left;
  display: block;
  width: 115px;
  height: 37px;
  background: url(../images/contact_send_btn_bg.png) #545861 no-repeat 0 0;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.formBox input.sendBtn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.loginFooter {
  position: relative;
  width: 100%;
  height: 662px;
  background: url(../images/footer_bg.gif) repeat-x top left;
  padding-top: 30px;
}

article {
  width: 960px;
  float: left;
  clear: left;
  padding-top: 25px;
}

h2 {
  float: left;
  display: block;
  font-weight: normal;
  font-size: 25px;
  color: #5d5d5d;
  margin-left: 0px;
  font-family: "FuturaStdMediumTrItalic";
}

h2 span {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

article .catSlogan {
  float: left;
  clear: both;
  width: 910px;
  margin: 25px 0 0 25px;
  font-size: 15px;
  color: #919191;
  font-family: "FuturaStdLightTrRegular";
}

article nav {
  float: right;
  width: 375px;
  height: 25px;
  margin: 2px 25px 0 0;
}

article nav a {
  display: block;
  float: left;
  height: 25px;
  cursor: pointer;
}

nav a.selected {
  padding: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #f7f7f7;
  font-style: italic;
}

.home {
  width: 100%;
  height: 746px;
  margin-bottom: 30px;
  border-top: 1px solid #c4c7cb;
}

#parallax {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 630px;
  text-align: center;
}

p.title {
  float: left;
  width: 100%;
  font-size: 14px;
  font-family: "FuturaStdBookTrRegular";
  color: #850;
}

#services .text {
  float: left;
  width: 640px;
  font-size: 14px;
  line-height: 26px;
  color: #8c8c8c;
  margin: 20px 0 65px 0;
}

footer h2 {
  float: left;
  display: block;
  font-weight: normal;
  font-size: 25px;
  color: #fff;
  font-style: italic;
  margin-left: 25px;
}

footer .formBox {
  float: left;
  margin: 20px 0 0 25px;
}

.footerTitle {
  font-size: 18px;
  color: #ffffff;
  margin-top: 15px;
  line-height: 19px;
  font-family: "FuturaStdBookTrRegular";
}

.footerText {
  font-size: 14px;
  color: #ffffff;
  margin-top: 15px;
  line-height: 7px;
  font-family: "FuturaStdBookTrRegular";
}

footer .map {
  float: right;
  margin: 20px 25px 0 0;
}

.map .mapBox {
  border: 6px solid #900;
  margin-bottom: 43px;
}

.map .mapBox iframe {
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.map label {
  float: left;
  clear: left;
  font-size: 15px;
  color: #ffffff;
  font-family: "FuturaStdLightTrItalic";
}

.map p {
  font-size: 13px;
  color: #ffffff;
  clear: left;
  float: left;
  margin-top: 15px;
  line-height: 19px;
  font-family: "FuturaStdBookTrRegular";
}

.map p a {
  color: #ffffff;
}

.map p a:hover {
  text-decoration: underline;
}

a.footer {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-family: "FuturaStdBookTrItalic";
}

a.footer:hover {
  text-decoration: underline;
}

.footerCenter .bottomCopy {
  width: 910px;
  position: absolute;
  left: 25px;
  bottom: 13px;
  font-size: 13px;
  color: #5d5d5d;
}

.copyright {
  float: right;
  margin-top: 6px;
  font-family: "FuturaStdBookTrRegular";
}

.footerCenter .bottomCopy .followBox {
  float: right;
  font-style: italic;
}

.footerCenter .bottomCopy .followBox span {
  float: left;
  display: block;
  margin-top: 6px;
  font-family: "FuturaStdBookTrItalic";
}

.footerCenter .bottomCopy .followBox a {
  width: 28px;
  height: 28px;
  float: left;
  display: block;
  cursor: pointer;
  margin-left: 15px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background: url(../images/footer_social_share_icons.png) #fff no-repeat 0 0;
}

.footerCenter .bottomCopy .followBox a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Who we are section */
.solisti-item {
  margin: 2px 0;
}

.cultural-attaches-item {
  margin: 2px 0;
}

/*--------- IE7 Hack ---------*/
*:first-child + html footer {
  overflow: hidden;
}

*:first-child + html #services .icon {
  clear: left;
}

*:first-child + html article h2 {
  padding-top: 3px;
}

*:first-child + html .slidertext li .brandBox {
  width: 210px;
}

*:first-child + html .slidertext li .brandBox {
  padding-bottom: 12px;
}

*:first-child + html .whoWeBox.first {
  clear: left;
}

*:first-child + html .partners.first {
  clear: left;
}

*:first-child + html .formBox .textarea {
  margin-right: -10px;
}

*:first-child + html footer .formBox .right {
  margin-bottom: 15px;
}

/*-------- //IE7 Hack --------*/

#chartdiv {
  width: 100%;
  height: 95vh;
}

.right-side-pop-up {
  .display(flex);
  .flex-direction(column);
  .align-items(center);
  height: 100vh;
  width: 500px;
  background-color: @white;
  position: absolute;
  top: 0;
  right: 0;
  .transform(translateX(100%));
  .transition(ease-in-out 0.2s);
  z-index: 2;
  padding: 20px;
  border-left: 2px solid @red;

  &.show {
    .transform(translateX(0%));
  }

  .content {
    .display(flex);
    .flex-direction(column);

    .image-holder {
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        display: block;
      }
    }

    h1,
    h3 {
      text-align: center;
      margin: 15px 0;
      color: @black;
    }

    h1 {
      margin: 30px 0;
      font-size: 30px;
    }

    h3 {
      font-size: 24px;
    }

    .buttons-holder {
      .align-self(center);

      .button {
        padding: 10px 20px;
        border: 2px solid @red;
        .border-radius(12px);
        cursor: pointer;
        .transition(ease-in-out 0.2s);
        font-weight: 600;

        &:hover {
          background-color: @red;
          color: @white;
        }
      }
    }
  }
}

.background {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: absolute;
  top: 0;
  opacity: 0.4;
  z-index: 1;
  display: none;
}

.background.show {
  display: block;
}

.hidden {
  height: 0;
  display: none !important;
}

/* Swiper */

.swiper-main {
  position: absolute;
  width: 100%;
  display: block;
  opacity: 1;
  height: 100vh;
  // background-color: @black;
  top: 0;
  z-index: 1;
  .display(flex);

  .close-button {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 15px;
    left: 15px;
    background-color: #900;
  }

  .swiper {
    margin-top: 30px;
  }
}

.swiper-slide img {
  display: block;
  height: 80vh;
  /* height: 40rem; */
  object-fit: cover;
  margin: auto;
  border-radius: 30px;
}

.swiper-slide figure {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.swiper-custom-nav-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.swiper-custom-nav-left svg {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.swiper-custom-nav-left svg:hover {
  opacity: 1;
}

.swiper-custom-nav-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 10;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.swiper-custom-nav-right svg {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.swiper-custom-nav-right svg:hover {
  opacity: 1;
}

.swiper-custom-pagination {
  display: flex;
  width: 100%;
  padding-top: 2rem;
  justify-content: center;
  gap: 1rem;
  font-family: var(--secondary-ff);
  font-size: 17px;
  line-height: 29px;
  font-weight: 500;
  color: var(--black);
}

.swiper-custom-pagination .swiper-pagination-bullet {
  width: auto;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
  text-align: center;
}

.swiper-custom-pagination .number {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.swiper-custom-pagination .line {
  opacity: 0.3;
  height: 0.25rem;
  width: 0.75rem;
  background-color: var(--black);
  display: block;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.swiper-custom-pagination .swiper-pagination-bullet-active .number,
.swiper-custom-pagination .swiper-pagination-bullet-active .line {
  opacity: 1;
}

.swiper-custom-pagination .swiper-pagination-bullet-active .line {
  width: 2rem;
}

/* Container */
.container {
  max-width: 46rem;
  margin: auto;
}

.container.wide {
  max-width: 100%;
  padding: 5rem;
}

@media screen and (max-width: 800px) {
  .swiper-slide img {
    height: 20rem;
  }

  .swiper-slide figcaption {
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
    background-color: var(--black-90);
  }

  .swiper-custom-nav {
    display: none;
  }
}
